# Python
__pycache__/
*.pyc
.venv/
.env

# IntelliJ / VSCode
.idea/
.vscode/

# Данные паркета
data/gold/*
data/silver/*
*.DS_Store
*.parquet
*.crc

# Telegram Session (СЕКРЕТНО!)
#*.session
#*.session-journal

# Data & Logs
#derby.log
#*.log