# Python
__pycache__/
*.pyc
.venv/
.env

# IntelliJ / VSCode
.idea/
.vscode/

# Данные паркета
data/gold/*
data/silver/*
data/training_set/*
*.DS_Store
*.parquet
*.crc
*.csv

# Telegram Session (СЕКРЕТНО!)
#*.session
#*.session-journal

# Data & Logs
#derby.log
#*.log