# --- Telegram API & Scraper ---
pyrogram
tgcrypto

# --- Data Processing (Pandas & Spark Client) ---
pandas
numpy
pyspark==3.5.0
pyhive

# --- Machine Learning (Sklearn) ---
scikit-learn
scipy

# --- NLP (Text Processing) ---
# Библиотеки для анализа текста (токсичность и т.д.)
nltk
textblob

# --- Visualization & Dashboard ---
matplotlib
seaborn
plotly
streamlit
altair

# --- Utilities ---
python-dotenv
requests
psycopg2-binary